<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a18053241_chaunguyentuankiet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.18053241_ChauNguyenTuanKiet">
        <activity android:name=".MusicActivity"></activity>
        <activity android:name=".BabyActivity" />
        <activity android:name=".Activity4" />
        <activity android:name=".Activity3" />
        <activity android:name=".ACtivity2" />
        <activity android:name=".KTPM14ATT_Activity" />
    </application>

</manifest>